// 隱藏文字
@mixin hide-text
  text-indent: 100%
  white-space: nowrap
  overflow: hidden

// flexbox
@mixin flex($jc: flex-start, $ai: flex-start)
  display: flex
  justify-content: $jc
  align-items: $ai

// 斑馬紋圖樣
// $lineColor: 線條顏色
// $bgW: 背景寬度
// $lineW: 線條寬度
// $bg: 背景顏色
// 從位置 0 開始 #{$bgW}px 是背景顏色
// 從 #{$bgW}px 開始到 #{$bgW + $lineW}px 是線條顏色
// 從位置 #{$bgW + $lineW}px 開始到 #{$bgW + $lineW + 1}px 是背景顏色
// 然後再重複這個圖樣
@mixin zebra-pattern($lineColor: #ffffff, $bgW: 5, $lineW: 2)
  $bg: rgba(255, 255, 255, 0.3)
  background-image: repeating-linear-gradient(45deg, $bg, $bg #{$bgW}px, $lineColor #{$bgW}px, $bg #{$bgW + $lineW}px, $bg #{$bgW + $lineW + 1}px)

// 斑馬紋 - 白色
@mixin zebra-white
  @include zebra-pattern()

// 斑馬紋 - 黑色
@mixin zebra-black($bg-width: 1, $line-width: 1.5)
  $line-color: #575757
  @include zebra-pattern($line-color, $bg-width, $line-width)
